In [1]:
import pandas as pd
path = "D:/Data_Analysis/dataclining.xlsx"
df= pd.read_excel(path)
print(df)

    s.no     A   B     C     D     E  length
0      1   2.0   1   5.0   3.0   4.0    45.0
1      2   4.0   3  10.0   6.0   8.0    43.0
2      3   6.0   5  15.0   9.0  12.0    66.0
3      4   8.0   7  20.0  12.0  16.0    78.0
4      5  10.0   9  25.0  15.0  20.0    32.0
5      6  12.0  11  30.0  18.0  24.0    12.0
6      7  14.0  13  35.0  21.0  28.0    54.0
7      8  16.0  15  40.0  24.0  32.0    67.0
8      9  18.0  17  45.0  27.0  36.0    77.0
9     10  20.0  19  50.0  30.0  40.0    89.0
10    11   NaN  21   NaN   NaN   NaN     NaN
11    12   NaN  22   NaN   NaN  45.0     NaN

In [2]:
import numpy as np
bins = np.linspace(min(df["length"]),max(df["length"]),4)

In [3]:
group_name = ["Low","Medium","High"]

In [4]:
df["length_bin"] = pd.cut(df["length"],bins,labels=group_name,include_lowest=True)

In [5]:
df.head(5)

   s.no     A  B     C     D     E  length length_bin
0     1   2.0  1   5.0   3.0   4.0    45.0     Medium
1     2   4.0  3  10.0   6.0   8.0    43.0     Medium
2     3   6.0  5  15.0   9.0  12.0    66.0       High
3     4   8.0  7  20.0  12.0  16.0    78.0       High
4     5  10.0  9  25.0  15.0  20.0    32.0        Low

In [6]:
#Categorical To Numeric
pd.get_dummies(df["length"])

     12.0   32.0   43.0   45.0   54.0   66.0   67.0   77.0   78.0   89.0
0   False  False  False   True  False  False  False  False  False  False
1   False  False   True  False  False  False  False  False  False  False
2   False  False  False  False  False   True  False  False  False  False
3   False  False  False  False  False  False  False  False   True  False
4   False   True  False  False  False  False  False  False  False  False
5    True  False  False  False  False  False  False  False  False  False
6   False  False  False  False   True  False  False  False  False  False
7   False  False  False  False  False  False   True  False  False  False
8   False  False  False  False  False  False  False   True  False  False
9   False  False  False  False  False  False  False  False  False   True
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False