In [3]:
import pandas as pd
path ="D:/Data_Analysis/data.csv"
df = pd.read_csv(path)
print(df)

       Unnamed: 0  year industry_code_ANZSIC  \
0               0  2011                    A
1               1  2011                    A
2               2  2011                    A
3               3  2011                    A
4               4  2011                    A
...           ...   ...                  ...
21667       21667  2024                  all
21668       21668  2024                  all
21669       21669  2024                  all
21670       21670  2024                  all
21671       21671  2024                  all

                    industry_name_ANZSIC   rme_size_grp  \
0      Agriculture, Forestry and Fishing            a_0
1      Agriculture, Forestry and Fishing            a_0
2      Agriculture, Forestry and Fishing            a_0
3      Agriculture, Forestry and Fishing            a_0
4      Agriculture, Forestry and Fishing            a_0
...                                  ...            ...
21667                     All Industries  j_Grand_Total
21668                     All Industries  j_Grand_Total
21669                     All Industries  j_Grand_Total
21670                     All Industries  j_Grand_Total
21671                     All Industries  j_Grand_Total

                                              variable    value  \
0                                        Activity unit    46134
1                               Rolling mean employees        0
2                              Salaries and wages paid      279
3      Sales, government funding, grants and subsidies     8187
4                                         Total income     8866
...                                                ...      ...
21667                          Salaries and wages paid   157616
21668  Sales, government funding, grants and subsidies   838626
21669                                     Total assets  2931807
21670                                Total expenditure   856960
21671                                     Total income   979594

                    unit  Unnamed: 7  Unnamed: 8  Unnamed: 9 Unnamed: 10  \
0                  COUNT         NaN         NaN         NaN         NaN
1                  COUNT         NaN         NaN         NaN         NaN
2      DOLLARS(millions)         NaN         NaN         NaN         NaN
3      DOLLARS(millions)         NaN         NaN         NaN         NaN
4      DOLLARS(millions)         NaN         NaN         NaN         NaN
...                  ...         ...         ...         ...         ...
21667  DOLLARS(millions)         NaN         NaN         NaN         NaN
21668  DOLLARS(millions)         NaN         NaN         NaN         NaN
21669  DOLLARS(millions)         NaN         NaN         NaN         NaN
21670  DOLLARS(millions)         NaN         NaN         NaN         NaN
21671  DOLLARS(millions)         NaN         NaN         NaN         NaN

      Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0             NaN         NaN         NaN         NaN         NaN
1             NaN         NaN         NaN         NaN         NaN
2             NaN         NaN         NaN         NaN         NaN
3             NaN         NaN         NaN         NaN         NaN
4             NaN         NaN         NaN         NaN         NaN
...           ...         ...         ...         ...         ...
21667         NaN         NaN         NaN         NaN         NaN
21668         NaN         NaN         NaN         NaN         NaN
21669         NaN         NaN         NaN         NaN         NaN
21670         NaN         NaN         NaN         NaN         NaN
21671         NaN         NaN         NaN         NaN         NaN

[21672 rows x 17 columns]

In [4]:
df.head(5)

,Unnamed: 0,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.tail(5)

,Unnamed: 0,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
21667,21667,2024,all,All Industries,j_Grand_Total,Salaries and wages paid,157616,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21668,21668,2024,all,All Industries,j_Grand_Total,"Sales, government funding, grants and subsidies",838626,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21669,21669,2024,all,All Industries,j_Grand_Total,Total assets,2931807,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21670,21670,2024,all,All Industries,j_Grand_Total,Total expenditure,856960,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21671,21671,2024,all,All Industries,j_Grand_Total,Total income,979594,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.to_csv(path) #save The file

In [7]:
df.dtypes

Unnamed: 0                int64
year                      int64
industry_code_ANZSIC     object
industry_name_ANZSIC     object
rme_size_grp             object
variable                 object
value                    object
unit                     object
Unnamed: 7              float64
Unnamed: 8              float64
Unnamed: 9              float64
Unnamed: 10              object
Unnamed: 11              object
Unnamed: 12              object
Unnamed: 13              object
Unnamed: 14              object
Unnamed: 15              object
dtype: object

In [8]:
df.describe()

         Unnamed: 0          year  Unnamed: 7  Unnamed: 8   Unnamed: 9
count  21672.000000  21672.000000         0.0         0.0    41.000000
mean   10835.500000   2017.500000         NaN         NaN  2022.268293
std     6256.311853      4.031222         NaN         NaN     0.448575
min        0.000000   2011.000000         NaN         NaN  2022.000000
25%     5417.750000   2014.000000         NaN         NaN  2022.000000
50%    10835.500000   2017.500000         NaN         NaN  2022.000000
75%    16253.250000   2021.000000         NaN         NaN  2023.000000
max    21671.000000   2024.000000         NaN         NaN  2023.000000

In [9]:
df.describe(include='all')

,Unnamed: 0,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
count,21672.000000,21672.000000,21672,21672,21672,21672,21672,21672,0.0,0.0,41.000000,41,41,41,41,41,41
unique,NaN,NaN,20,20,10,9,8808,2,NaN,NaN,NaN,8,8,8,6,1,1
top,NaN,NaN,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,C,DOLLARS(millions),NaN,NaN,NaN,R,Arts and Recreation Services,g_100-199,Fixed tangible assets,C,DOLLARS(millions)
freq,NaN,NaN,1134,1134,2394,2408,383,16856,NaN,NaN,NaN,12,12,10,12,41,41
mean,10835.500000,2017.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.268293,NaN,NaN,NaN,NaN,NaN,NaN
std,6256.311853,4.031222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.448575,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,2011.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,5417.750000,2014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,10835.500000,2017.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,16253.250000,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,21671.000000,2024.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21672 entries, 0 to 21671
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            21672 non-null  int64
 1   year                  21672 non-null  int64
 2   industry_code_ANZSIC  21672 non-null  object
 3   industry_name_ANZSIC  21672 non-null  object
 4   rme_size_grp          21672 non-null  object
 5   variable              21672 non-null  object
 6   value                 21672 non-null  object
 7   unit                  21672 non-null  object
 8   Unnamed: 7            0 non-null      float64
 9   Unnamed: 8            0 non-null      float64
 10  Unnamed: 9            41 non-null     float64
 11  Unnamed: 10           41 non-null     object
 12  Unnamed: 11           41 non-null     object
 13  Unnamed: 12           41 non-null     object
 14  Unnamed: 13           41 non-null     object
 15  Unnamed: 14           41 non-null     object
 16  Unnamed: 15           41 non-null     object
dtypes: float64(3), int64(2), object(12)
memory usage: 2.8+ MB

In [11]:
df.columns

Index(['Unnamed: 0', 'year', 'industry_code_ANZSIC', 'industry_name_ANZSIC',
       'rme_size_grp', 'variable', 'value', 'unit', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')