In [2]:
import pandas as pd
path = "D:/Data_Analysis/dataclining.xlsx"
df=pd.read_excel(path)
print(df)

    s.no     A   B     C     D     E
0      1   2.0   1   5.0   3.0   4.0
1      2   4.0   3  10.0   6.0   8.0
2      3   6.0   5  15.0   9.0  12.0
3      4   8.0   7  20.0  12.0  16.0
4      5  10.0   9  25.0  15.0  20.0
5      6  12.0  11  30.0  18.0  24.0
6      7  14.0  13  35.0  21.0  28.0
7      8  16.0  15  40.0  24.0  32.0
8      9  18.0  17  45.0  27.0  36.0
9     10  20.0  19  50.0  30.0  40.0
10    11   NaN  21   NaN   NaN   NaN
11    12   NaN  22   NaN   NaN  45.0

In [3]:
df.head(5)

   s.no     A  B     C     D     E
0     1   2.0  1   5.0   3.0   4.0
1     2   4.0  3  10.0   6.0   8.0
2     3   6.0  5  15.0   9.0  12.0
3     4   8.0  7  20.0  12.0  16.0
4     5  10.0  9  25.0  15.0  20.0

In [5]:
headers = ["S.no","Even","Odd","Multiple 5","Multiple 3","Multiple 4"]
df.columns=headers
print(df)

    S.no  Even  Odd  Multiple 5  Multiple 3  Multiple 4
0      1   2.0    1         5.0         3.0         4.0
1      2   4.0    3        10.0         6.0         8.0
2      3   6.0    5        15.0         9.0        12.0
3      4   8.0    7        20.0        12.0        16.0
4      5  10.0    9        25.0        15.0        20.0
5      6  12.0   11        30.0        18.0        24.0
6      7  14.0   13        35.0        21.0        28.0
7      8  16.0   15        40.0        24.0        32.0
8      9  18.0   17        45.0        27.0        36.0
9     10  20.0   19        50.0        30.0        40.0
10    11   NaN   21         NaN         NaN         NaN
11    12   NaN   22         NaN         NaN        45.0

In [6]:
df["Odd"]=df["Odd"]+1

In [7]:
print(df)

    S.no  Even  Odd  Multiple 5  Multiple 3  Multiple 4
0      1   2.0    2         5.0         3.0         4.0
1      2   4.0    4        10.0         6.0         8.0
2      3   6.0    6        15.0         9.0        12.0
3      4   8.0    8        20.0        12.0        16.0
4      5  10.0   10        25.0        15.0        20.0
5      6  12.0   12        30.0        18.0        24.0
6      7  14.0   14        35.0        21.0        28.0
7      8  16.0   16        40.0        24.0        32.0
8      9  18.0   18        45.0        27.0        36.0
9     10  20.0   20        50.0        30.0        40.0
10    11   NaN   22         NaN         NaN         NaN
11    12   NaN   23         NaN         NaN        45.0

In [8]:
df["Odd"]=df["Odd"]-1
print(df)

    S.no  Even  Odd  Multiple 5  Multiple 3  Multiple 4
0      1   2.0    1         5.0         3.0         4.0
1      2   4.0    3        10.0         6.0         8.0
2      3   6.0    5        15.0         9.0        12.0
3      4   8.0    7        20.0        12.0        16.0
4      5  10.0    9        25.0        15.0        20.0
5      6  12.0   11        30.0        18.0        24.0
6      7  14.0   13        35.0        21.0        28.0
7      8  16.0   15        40.0        24.0        32.0
8      9  18.0   17        45.0        27.0        36.0
9     10  20.0   19        50.0        30.0        40.0
10    11   NaN   21         NaN         NaN         NaN
11    12   NaN   22         NaN         NaN        45.0

In [9]:
df.drop([10],axis=0)
print(df)

    S.no  Even  Odd  Multiple 5  Multiple 3  Multiple 4
0      1   2.0    1         5.0         3.0         4.0
1      2   4.0    3        10.0         6.0         8.0
2      3   6.0    5        15.0         9.0        12.0
3      4   8.0    7        20.0        12.0        16.0
4      5  10.0    9        25.0        15.0        20.0
5      6  12.0   11        30.0        18.0        24.0
6      7  14.0   13        35.0        21.0        28.0
7      8  16.0   15        40.0        24.0        32.0
8      9  18.0   17        45.0        27.0        36.0
9     10  20.0   19        50.0        30.0        40.0
10    11   NaN   21         NaN         NaN         NaN
11    12   NaN   22         NaN         NaN        45.0

In [10]:
df.dropna()

   S.no  Even  Odd  Multiple 5  Multiple 3  Multiple 4
0     1   2.0    1         5.0         3.0         4.0
1     2   4.0    3        10.0         6.0         8.0
2     3   6.0    5        15.0         9.0        12.0
3     4   8.0    7        20.0        12.0        16.0
4     5  10.0    9        25.0        15.0        20.0
5     6  12.0   11        30.0        18.0        24.0
6     7  14.0   13        35.0        21.0        28.0
7     8  16.0   15        40.0        24.0        32.0
8     9  18.0   17        45.0        27.0        36.0
9    10  20.0   19        50.0        30.0        40.0

In [11]:
import numpy as np
df["Even"].replace(np.nan,0,inplace=True)
print(df)

    S.no  Even  Odd  Multiple 5  Multiple 3  Multiple 4
0      1   2.0    1         5.0         3.0         4.0
1      2   4.0    3        10.0         6.0         8.0
2      3   6.0    5        15.0         9.0        12.0
3      4   8.0    7        20.0        12.0        16.0
4      5  10.0    9        25.0        15.0        20.0
5      6  12.0   11        30.0        18.0        24.0
6      7  14.0   13        35.0        21.0        28.0
7      8  16.0   15        40.0        24.0        32.0
8      9  18.0   17        45.0        27.0        36.0
9     10  20.0   19        50.0        30.0        40.0
10    11   0.0   21         NaN         NaN         NaN
11    12   0.0   22         NaN         NaN        45.0

C:\Users\eraas\AppData\Local\Temp\ipykernel_4256\2751968644.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Even"].replace(np.nan,0,inplace=True)

In [12]:
df["Multiple 4"]=df["Multiple 4"]/2

In [13]:
df.head(5)

   S.no  Even  Odd  Multiple 5  Multiple 3  Multiple 4
0     1   2.0    1         5.0         3.0         2.0
1     2   4.0    3        10.0         6.0         4.0
2     3   6.0    5        15.0         9.0         6.0
3     4   8.0    7        20.0        12.0         8.0
4     5  10.0    9        25.0        15.0        10.0

In [14]:
df.rename(columns={"Multiple 4":"Multiple 2"})

    S.no  Even  Odd  Multiple 5  Multiple 3  Multiple 2
0      1   2.0    1         5.0         3.0         2.0
1      2   4.0    3        10.0         6.0         4.0
2      3   6.0    5        15.0         9.0         6.0
3      4   8.0    7        20.0        12.0         8.0
4      5  10.0    9        25.0        15.0        10.0
5      6  12.0   11        30.0        18.0        12.0
6      7  14.0   13        35.0        21.0        14.0
7      8  16.0   15        40.0        24.0        16.0
8      9  18.0   17        45.0        27.0        18.0
9     10  20.0   19        50.0        30.0        20.0
10    11   0.0   21         NaN         NaN         NaN
11    12   0.0   22         NaN         NaN        22.5

In [15]:
df.dtypes

S.no            int64
Even          float64
Odd             int64
Multiple 5    float64
Multiple 3    float64
Multiple 4    float64
dtype: object

In [18]:
df["Multiple 4"]=df["Multiple 4"].astype("int")
df.head(5)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [19]:
df.head(5)

   S.no  Even  Odd  Multiple 5  Multiple 3  Multiple 4
0     1   2.0    1         5.0         3.0         2.0
1     2   4.0    3        10.0         6.0         4.0
2     3   6.0    5        15.0         9.0         6.0
3     4   8.0    7        20.0        12.0         8.0
4     5  10.0    9        25.0        15.0        10.0