In [1]:
import pandas as pd
path = "D:/Data_Analysis/dataclining.xlsx"
df= pd.read_excel(path)
print(df)

    s.no     A   B     C     D     E  length
0      1   2.0   1   5.0   3.0   4.0    45.0
1      2   4.0   3  10.0   6.0   8.0    43.0
2      3   6.0   5  15.0   9.0  12.0    66.0
3      4   8.0   7  20.0  12.0  16.0    78.0
4      5  10.0   9  25.0  15.0  20.0    32.0
5      6  12.0  11  30.0  18.0  24.0    12.0
6      7  14.0  13  35.0  21.0  28.0    54.0
7      8  16.0  15  40.0  24.0  32.0    67.0
8      9  18.0  17  45.0  27.0  36.0    77.0
9     10  20.0  19  50.0  30.0  40.0    89.0
10    11   NaN  21   NaN   NaN   NaN     NaN
11    12   NaN  22   NaN   NaN  45.0     NaN

In [2]:
df.head(5)

   s.no     A  B     C     D     E  length
0     1   2.0  1   5.0   3.0   4.0    45.0
1     2   4.0  3  10.0   6.0   8.0    43.0
2     3   6.0  5  15.0   9.0  12.0    66.0
3     4   8.0  7  20.0  12.0  16.0    78.0
4     5  10.0  9  25.0  15.0  20.0    32.0

In [7]:
df["length"]=df["length"]/df["length"].max()   #Simple feature Scaling Method

In [8]:
df.head(5)

   s.no     A  B     C     D     E    length
0     1   2.0  1   5.0   3.0   4.0  0.505618
1     2   4.0  3  10.0   6.0   8.0  0.483146
2     3   6.0  5  15.0   9.0  12.0  0.741573
3     4   8.0  7  20.0  12.0  16.0  0.876404
4     5  10.0  9  25.0  15.0  20.0  0.359551

In [9]:
# Min Max Method
df["length"]=df["length"]-df["length"].min()/(df["length"].max()-df["length"].min())

In [10]:
df.head(5)

   s.no     A  B     C     D     E    length
0     1   2.0  1   5.0   3.0   4.0  0.349774
1     2   4.0  3  10.0   6.0   8.0  0.327302
2     3   6.0  5  15.0   9.0  12.0  0.585729
3     4   8.0  7  20.0  12.0  16.0  0.720560
4     5  10.0  9  25.0  15.0  20.0  0.203706

In [11]:
#Z- Score Methode
df["length"]=(df["length"]-df["length"].mean())/df["length"].std()
df.head(5)

   s.no     A  B     C     D     E    length
0     1   2.0  1   5.0   3.0   4.0 -0.477507
1     2   4.0  3  10.0   6.0   8.0 -0.562022
2     3   6.0  5  15.0   9.0  12.0  0.409896
3     4   8.0  7  20.0  12.0  16.0  0.916983
4     5  10.0  9  25.0  15.0  20.0 -1.026852